body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin-left: 30px;
}
#logo{
    border-bottom: 1px dotted #ccc;
    padding: 10px 0px;
    text-align: left;
}
#searchContainer {
    margin: auto;

}
.current-temperature{
    text-align: center;
}

#instructions {
    margin-top: 40px;
    font-size: 25px;  
}
#languageDropDown{
    position: fixed;
    top:20px;
    right: 30px;
}
.lineBetween{
    color: #ccc;
}
.row{
    text-align: center;
}

label {
    font-size: 20px;
}

#forecast {
    margin-top: 25px;
}

.mainBoxSpace {
  /*  width: 200px;
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-color: black;*/
    margin: auto;
}

.boxSpace {
    width: 175px;
    height: 175px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
.container{
    margin-bottom: 100px;
}
footer{
    background-color: #333;
    color: white;
    padding: 12px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}